<mat-toolbar class="depContentSearch">
  <div class="headTitle"><span>Departament</span></div>
  <div class="controlForm">
    <div class="newDepto">
     <button mat-mini-fab color="primary" aria-label="Listar Departamento" class="action-column-header" (click) ="onRoute('list')">
      <mat-icon class="btAction">list</mat-icon>
    </button>
    <div class="btTxt"><span>Listar Departamentos</span></div>
    </div>
    <div class="newDepto">
      <button mat-mini-fab color="primary" aria-label="Adicionar Departamento" class="action-column-header" (click) ="onRoute('novo')">
        <mat-icon class="btAction">add</mat-icon>
      </button>
      <div class="btTxt"><span>Adicionar Departamento</span></div>
    </div>
  </div>
</mat-toolbar>

