.depHeader {
  margin: 0 auto;
  flex-direction: column;
  background-color: gray;
 
}

.depHeader mat-toolbar{
  margin: 0 auto;
  width: 100%;
}
.depList{
  margin: 0 auto;
  width: 65%;
  height: 100%;
 
}

mat-table{
  margin-top:20px;
  max-height: 75%;
}

.id-column{
  flex:0 0 5%;
}


.title-column{
  flex:0 0 55%;

}

.acronym-column{
  flex:0 0 15%;

}
.active-column{
  flex:0 0 15%;

}

.action-column{
  flex:0 0 125px;
}

.action-column-header{
  margin: 0 auto;
}

