.depContentSearch{
 display:flex;
 flex-direction: row;
 width: 100%;
}
.headTitle{
  width: 10%;
}

.controlForm{
  width: 80%;
  /* border: 1px solid black; */
  display:flex;
  flex-direction: row;
  padding-top: 10px;
}

.linkList{
 margin-left: 50px;
 width: 90%;
/*  border: 1px solid black; */
}

.depSearchField{
  width: 30%;
}

.newDepto{
  width: 250px;
  height: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
/*   border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin:0 auto;
}

.btTxt{
  padding-left: 5px;
  padding-top: 5px;
  width: 50%;
  }


