<app-departament></app-departament>

<div class="depList">
<mat-table  [dataSource]="dataSourse" class="mat-elevation-z8">
  <!-- Position Id -->
  <ng-container matColumnDef="Id" class="id-column">
    <mat-header-cell  *matHeaderCellDef class="id-column">Id</mat-header-cell>
    <mat-cell  *matCellDef="let item" class="id-column">{{ item.departamentId }}</mat-cell>
  </ng-container>

  <!-- Nome Column -->
  <ng-container matColumnDef="Titulo" class="title-column">
    <mat-header-cell *matHeaderCellDef class="title-column">Titulo</mat-header-cell>
    <mat-cell  *matCellDef="let item" class="title-column">{{item.titulo }}</mat-cell>
  </ng-container>

  <!-- Nome Cpf -->
  <ng-container matColumnDef="Sigla" class="acronym-column">
    <mat-header-cell  *matHeaderCellDef class="acronym-column">Sigla</mat-header-cell>
    <mat-cell  *matCellDef="let item" class="acronym-column">{{ item.sigla }}</mat-cell>
  </ng-container>

  <!--  DataEnvio -->
  <ng-container matColumnDef="Status" class="active-column">
    <mat-header-cell  *matHeaderCellDef class="active-column">Status</mat-header-cell>
    <mat-cell  *matCellDef="let item" class="active-column">{{item.ativo}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Action" class="action-column" >
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-mini-fab color="accent" aria-label="Adicionar Departamento" class="action-column-header" routerLink="novoDepartamento">
        <mat-icon class="btAction">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let item"  class="action-column">
      <button mat-icon-button color="accent" aria-label="Editar Departamento" (click)="goToEditDep(item)" >
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button  color="warn" aria-label="Deletar Departamento" (click)="goToDelete(item)" >
        <mat-icon>delete</mat-icon>
        <!-- <button mat-icon-button color="warn" aria-label="Deletar Currículo">
          <mat-icon>delete</mat-icon> -->
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
</div>
