.depHeader {
  margin: 0 auto;
  flex-direction: column;
  background-color: gray;

}

.depHeader mat-toolbar{
  margin: 0 auto;
  width: 100%;
}
.depList{
  margin: 0 auto;
  width: 75%;
  height: 100%;

}

mat-table{
  margin-top:20px;
  max-height: 75%;
}

.id-column{
  flex:0 0 5%;
}


.title-column{
  flex:0 0 55%;

}

.acronym-column{
  flex:0 0 15%;

}
.active-column{
  flex:0 0 15%;

}

.action-column{
  flex:0 0 125px;
}

.action-column-header{
  margin: 0 auto;
  width: 125px;
}

.depSearchForm{
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}

.depSearchField{
  width: 400px;
}

.depSearchBtn{
  margin-left:5px;
  margin-top:7px;
}
mat-paginator{
  margin-top:10px;
  width: 100%;
}

