.depHeader {
  margin: 0 auto;
  flex-direction: column;
  background-color: gray;

}

.depHeader mat-toolbar{
  margin: 0 auto;
  width: 100%;
}
.empList{
  margin: 0 auto;
  width: 85%;
  height: 100%;

}

mat-table{
  margin-top:20px;
  max-height: 75%;
}

.id-column{
  flex:0 0 5%;
}


.nome-column{
  flex:0 0 35%;

}

.dataContratacao-column{
  flex:0 0 15%;

}
.departamento-column  {
  flex:0 0 20%;
}

.active-column{
  flex:0 0 10%;

}

.action-column{
  flex:0 0 125px;
}

.action-column-header{
  margin: 0 auto;
}

.empSearchForm{
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}

.empSearchField{
  width: 400px;
}

.empSearchBtn{
  margin-left:5px;
  margin-top:7px;
}
mat-paginator{
  margin-top:10px;
  width: 100%;
}

.empSearchInput{
  width:700px;
}



