/* @import '@angular/material/_theming';
@include mat-core();

$custom-app-primary:mat-pallete($mat-blue);
$custom-app-secondary:mat-pallete($mat-indigo, A200, A400, 700);
$custom-app-warn:mat-pallete($mat-red);

$custom-theme:mat-light-theme($custom-app-primary, $custom-app-secondary,$custom-app-warn );

@include angluar-material-theme($custom-theme); */

html, body { height: 100%; overflow: hidden;}
body { margin: 0 auto; font-family: Roboto, "Helvetica Neue", sans-serif; }
